<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="EvoAl Languages Target" sequenceNumber="1766930987">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.graphiti.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.antlr.runtime" version="3.2.0.v20230929-1400"/>
      <unit id="slf4j.api" version="0.0.0"/>
      <unit id="org.apache.commons.logging" version="0.0.0"/>
      <repository location="https://download.eclipse.org/releases/2025-12/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="junit-jupiter-api" version="0.0.0"/>
      <repository location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/2025-12"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="io.typefox.xtext2langium" version="0.0.0"/>
      <repository location="https://typefox.github.io/xtext2langium/download/updates/v0.4.0/"/>
    </location>
  </locations>
</target>
