<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="https://www.evoal.de/languages/pipeline/1.0.0"
            class="de.evoal.languages.model.pipeline.PipelinePackage"
            genModel="model/pipeline.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated execution -->
      <package
            uri="https://www.evoal.de/languages/execution/1.0.0"
            class="de.evoal.languages.model.execution.ExecutionPackage"
            genModel="model/execution.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated generator -->
      <package
            uri="https://www.evoal.de/languages/generator/1.0.0"
            class="de.evoal.languages.model.generator.GeneratorPackage"
            genModel="model/generator.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mll -->
      <package
            uri="https://www.evoal.de/languages/mll/1.0.0"
            class="de.evoal.languages.model.mll.MllPackage"
            genModel="model/mll.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dynamic -->
      <package
            uri="https://www.evoal.de/languages/dynamic/1.0.0"
            class="de.evoal.languages.model.dynamic.DynamicPackage"
            genModel="model/dynamic.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated optimization -->
      <package
            uri="https://www.evoal.de/languages/memory/1.0.0"
            class="de.evoal.languages.model.optimization.memory.MemoryPackage"
            genModel="model/optimization.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated optimization -->
      <package
            uri="https://www.evoal.de/languages/execution/1.0.0"
            class="de.evoal.languages.model.optimization.execution.ExecutionPackage"
            genModel="model/optimization.genmodel"/>
   </extension>
</plugin>
