<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="https://www.evoal.de/languages/base/1.0.0"
            class="de.evoal.languages.model.base.BasePackage"
            genModel="model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated types -->
      <package
            uri="https://www.evoal.de/languages/base/types/1.0.0"
            class="de.evoal.languages.model.base.types.TypesPackage"
            genModel="model/types.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BaseLanguage -->
      <package
            uri="https://www.evoal.de/languages/base/definitions/1.0.0"
            class="de.evoal.languages.model.base.definitions.DefinitionsPackage"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated expressions -->
      <package
            uri="https://www.evoal.de/languages/base/expressions/1.0.0"
            class="de.evoal.languages.model.base.expressions.ExpressionsPackage"
            genModel="model/expressions.genmodel"/>
   </extension>

</plugin>
